{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edulink">
    <meta name="keywords" content="Edulink">
    <meta name="author" content="Edulink">
    <link rel="icon" href="#" type="image/x-icon" />
    <!-- Favicon -->
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>edulink</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">

    <!-- Theme css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/style_login.css' %}">

</head>

<body>

    <!-- login section start -->
    <section class="login-section">

        <div class="header-section">
            <div class="logo-sec">
                <a href="index.html">
                    <img src="{% static 'assets/images/logo-white.png' %}" .png" alt="logo"
                        class="img-fluid blur-up lazyload">
                </a>
            </div>
            <!-- <div class="right-links">
                <ul>
                    <li>
                        <a href="#">
                            about
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            upgrade
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                    <div class="login-welcome signup">
                        <div>
                            <img src="{% static 'assets/images/login/login_1.png' %}" class="img-fluid blur-up lazyload"
                                alt="charcter">
                            <h1>Bienvenue mon ami! !</h1>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
                    <div class="login-form">
                        <div>
                            <div class="login-title">
                                <h2>Enregistrer</h2>
                            </div>
                            <div class="login-discription">
                                <h3>Bonjour à tous </h3>
                                <h4>Bienvenue sur Edulink, créez votre compte ci-dessous pour commencer à utiliser
                                    Edulink. </h4>
                            </div>
                            <div class="form-sec">
                                <div>

                                    <form id="signup-form" class="theme-form" action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group name-field">
                                            <div class="group-section">
                                                <div class=" fName-field">
                                                    <label for="name">Prénom</label>
                                                    <div class="input-field">
                                                        <input type="text" name="first_name"
                                                            class="form-control first-name" id="name"
                                                            placeholder="Entrez votre Prénom" style="
                                                    width: 195px;">
                                                    </div>


                                                    <!-- <i class="input-icon iw-20 ih-20" data-feather="user"></i> -->
                                                </div>
                                                <div class="lName-field">
                                                    <label for="name">Nom</label>
                                                    <input type="text" name="last_name" class="form-control last-name"
                                                        id="Entrez votre Nom" placeholder="Last Name" style="
                                                    width: 195px;">
                                                    <!-- <i class="input-icon iw-20 ih-20" data-feather="user"></i> -->
                                                </div>

                                            </div>
                                            <span class="error name-error">
                                                <i class="error-icon" data-feather="alert-circle"></i>
                                                <p class="error-text">Merci d'entrer un nom valide </p>
                                            </span>

                                        </div>

                                        <div class="form-group email-field">
                                            <label for="exampleInputEmail1">Adresse e-mail </label>
                                            <div class="input-field  ">
                                                <input type="email" name="email" class="form-control email"
                                                    id="exampleInputEmail1" placeholder="Entrez votre Adresse e-mail">
                                                <i class="input-icon iw-20 ih-20" data-feather="mail"></i>
                                            </div>
                                            <span class="error email-error">
                                                <i class="error-icon" data-feather="alert-circle"></i>
                                                <p class="error-text" id="email-message">Veuillez saisir une adresse
                                                    e-mail valide avec le domaine @etu.uae.ac.ma.</p>
                                            </span>

                                            <span class="error-token email-error ">
                                                <i class="error-icon" data-feather="alert-circle"></i>
                                                <p id="message" class="error-text" id="email-message"></p>
                                            </span>

                                        </div>

                                        <div class="form-group create-password">
                                            <label for="exampleInputPassword1">Mot de Passe</label>
                                            <div class="input-field">
                                                <input type="password" name="password" class="form-control password"
                                                    id="exampleInputPassword1" placeholder="Entrez votre mot de passe">
                                                <i class="input-icon iw-20 ih-20" data-feather="eye-off"></i>
                                            </div>
                                            <span class="error password-error">

                                                <i class="error-icon" data-feather="alert-circle"></i>
                                                <p class="error-text" id="password-message">Veuillez entrer au moins 8
                                                    caractères avec un chiffre, un symbole, une lettre minuscule et
                                                    majuscule.</p>
                                            </span>

                                            <!-- <i class="input-icon iw-20 ih-20" data-feather="eye-off"></i> -->
                                        </div>

                                        <div class="form-group confirm-password">
                                            <label for="exampleInputPassword1">Confirmez le mot de passe </label>
                                            <div class="input-field">
                                                <input type="password" name="confirm-password"
                                                    class="form-control cPassword" id="exampleInputPassword1"
                                                    placeholder="Confirmez Le mot de passe                                                    ">
                                                <i class="input-icon iw-20 ih-20" data-feather="eye-off"></i>

                                            </div>
                                            <span class="error confirm-error">

                                                <i class="error-icon" data-feather="alert-circle"></i>
                                                <p class="error-text" id="cPassword-message">Le mot de passe ne
                                                    correspond pas</p>
                                            </span>

                                            <!-- <i class="input-icon iw-20 ih-20" data-feather="eye-off"></i> -->
                                        </div>

                                        <!-- <div class="bottom-sec">
                                            <div class="form-check checkbox_animated">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">remember me</label>
                                            </div>
                                            <a href="#" class="ms-auto">forget password?</a>
                                        </div> -->
                                        <div class="btn-section">
                                            <!-- <input type="submit" value="sign up" class="btn btn-solid btn-lg"> -->
                                            <button type="submit" class="btn btn-solid btn-lg">S'incrire</button>
                                            <a href="/login" class="btn btn-solid btn-lg ms-auto">Connexion</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="how-work">
            <div class="media">
                <i data-feather="play-circle"></i>
                <div class="media-body">
                    <h2>Comment Ça Marche?
                    </h2>
                    <p>
                        EduLink est un réseau social dédié aux étudiants offrant une plateforme pour accéder à des
                        informations pertinentes pour leur scolarité et leur bien-être.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- login section end -->

    <!-- validation form -->
    <script src="{% static 'assets/js/validationSignup.js' %}"></script>

    <!-- feather icon js -->
    <script src="{% static 'assets/js/feather.min.js' %}"></script>

    <script>
        feather.replace();

    </script>


</body>

</html>